@font-face {
  src: url(../../vendor/fonts.css/Inter-Regular.ttf) format('woff2'),
    url(../../vendor/fonts.css/Inter-Regular.ttf) format('woff'),
    url(../../vendor/fonts.css/Inter-Regular.ttf) format('truetype'),
    url(../../vendor/fonts.css/Inter-Regular.ttf) format('eot');
  font-family: 'Inter';
}

@font-face {
  src: url(../../vendor/fonts.css/Inter-Black.ttf) format('woff2'),
    url(../../vendor/fonts.css/Inter-Black.ttf) format('woff'),
    url(../../vendor/fonts.css/Inter-Black.ttf) format('truetype'),
    url(../../vendor/fonts.css/Inter-Black.ttf) format('eot');
  font-family: 'Inter';
  font-weight: 900;
}

.page {
  margin: auto;
  background-color: #2a2c2f;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  max-width: 1280px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
