.place__paragraph {
  margin: 0 0 26px 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.63;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.63;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.63;
    width: 288px;
    margin: 0 auto 26px;
  }
}
