.lead__subtitle {
  color: #ffffff;
  margin: 0 auto 64px;
  max-width: 640px;
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 1rem;
    line-height: 1.25;
    width: 288px;
  }
}
