.cover__text-contanier {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  max-height: 250px;
}

@media screen and (max-width: 320px) {
  .cover__text-contanier {
    width: 288px;
  }
}
