.cover__title {
  position: relative;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06;
  text-align: center;
  color: #ffffff;
  max-width: 560px;
}

@media screen and (max-width: 320px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: 2rem;
    line-height: 1.09;
  }
}
