.place {
  display: grid;
  position: relative;
  grid-template-columns: 460px 460px;
  grid-template-areas:
    'title website'
    'img texts';
  gap: 48px 40px;
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    width: 928px;
    gap: 48px 32px;
    grid-template-columns: 440px 456px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    width: 720px;
    gap: 48px 28px;
    grid-template-columns: 340px 352px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    row-gap: 32px;
    width: 320px;
    display: grid;
    grid-template-columns: minmax(288px, 320px);
    grid-template-rows: 35px 46px 320px minmax(min-content, max-content);
    grid-template-areas:
      'title'
      'website'
      'img'
      'texts';
      margin-bottom: 50px;
  }

  .place:last-child {
    margin-bottom: 66px;
  }
}